<!-- Footer -->
<footer class="page-footer colorPage">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Ubication</h5>
        <p class="black-text text-lighten-4">Car 456 416-456</p>
        <p class="black-text text-lighten-4">Universidad de Caldas</p>
        <p class="black-text text-lighten-4">Cel. 1234569642 - 54196749942</p>
        <p class="black-text text-lighten-4">Manizales - Caldas - Colombia</p>
      </div>
      <div class="col l4 s12">
        <h5 class="black-text">Content</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">Sell</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Rent</a></li>
          <li>
            <a class="black-text text-lighten-3" href="#!">Properties</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5 class="black-text">Contact</h5>
        <ul class="contact-icons">
          <li>
            <a href=""
              ><img
                src="../../../../assets/svg/facebook.svg"
                alt="facebook_icon"
                width="50px"
                height="50px"
            /></a>
          </li>
          <li>
            <a href=""
              ><img
                src="../../../../assets/svg/whatsapp.svg"
                alt="whatsapp_icon"
                width="50px"
                height="50px"
            /></a>
          </li>
          <li>
            <a href=""
              ><img
                src="../../../../assets/svg/email.svg"
                alt="email_icon"
                width="50px"
                height="50px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
