<div class="container">
  <form action="" class=>
    <div class="row filter">
      <div class="col s3">
        <label>Sell Price</label>

        <p class="range-field">
          <input type="range" id="rangePrice" min="0" max="10000" />
        </p>
      </div>
      <div class="col s3">
        <label>Rent Price</label>
        <p class="range-field">
          <input type="range" id="rangePrice" min="0" max="10000" />
        </p>
      </div>
      <div class="input-field col s3">
        <select multiple>
          <option value="" disabled selected>Type Property</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
      </div>
      <div class="input-field col s3">
        <select multiple>
          <option value="" disabled selected>Managment Type</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
      </div>
    </div>
  </form>
</div>

<!-- Properties View -->
<div class="container">
  <div class="row">
    <div class="col s4" *ngFor="let property of properties">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <div *ngIf="property.rent" class="card rent-card">
            <p>Sell</p>
          </div>
          <div *ngIf="property.sell" class="card sell-card">
            <p>Rent</p>
          </div>
          <img src="{{ property.photo![0] }}" />
        </div>
        <div class="card-content">
          <span class="card-title activator"
            >{{ property.propertyTypeId
            }}<i class="material-icons right">expand_less</i></span
          >
          <p><a>See details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{ property.propertyTypeId
            }}<i class="material-icons right">close</i></span
          >
          <p>
            <strong>Ubication: <br /></strong> {{ property.address }} <br />
            {{ property.cityId }} <br />
            <strong>Adviser: <br /></strong> {{ property.adviserId }} <br />
            <strong>Description: <br /></strong> {{ property.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
