.container {
  padding: 20px;
}

.card {
  display: block;
  width: 300px;
}

.card-image {
  width: 300px;
  height: 200px;
}

.rent-card {
  background-color: #3ddb8f;
  display: flex;
  position: absolute;
  width: 80px;
  height: 40px;
  justify-content: center;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
}

.sell-card {
  background-color: #3ddb8f;
  display: flex;
  position: absolute;
  width: 80px;
  height: 40px;
  left: 210px;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
}

.card-title {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #3ddb8f;
}

a {
  color: #3ddb8f;
  cursor: pointer;
}

.filter-from {
  display: flex;
  position: sticky;
}

.filter {
  border-bottom: #3ddb8f solid 3px;
}

label {
  display: flex;
  justify-content: center;
}
