<div class="container">
  <h1>My Request</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Photo</th>
        <th>direccion</th>
        <th>agotado</th>
        <th>Dirección</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of requestClient
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: total
                }
        "
      >
        <td>{{data.id}}</td>
        <td class="imagenLitadoRegistros">{{data.property?.photo[0]}}</td>
        <td>{{data.property?.address}}</td>
        <td>{{data.endOfRent}}</td>
        <td>{{data.property?.address}}</td>
        <td>
          <a routerLink="/parametros/requestClient-editar/{{data.id}}" class="btn orange">Enviado</a>&nbsp;
          <a routerLink="/parametros/requestClient-eliminar/{{data.id}}" class="btn red">En estudio</a>
          <!--<a routerLink="/parametros/requestClient-editar/{{data.id}}" class="btn orange">Aceptado</a>&nbsp;
          <a routerLink="/parametros/requestClient-eliminar/{{data.id}}" class="btn red">Rechazado</a>
          <a routerLink="/parametros/requestClient-editar/{{data.id}}" class="btn orange">Cancelar</a>&nbsp;
          <a routerLink="/parametros/requestClient-eliminar/{{data.id}}" class="btn red">Ver comentarios</a>-->
         </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pager View -->
<div class="container">
  <div class="row">
    <div class="my-pagination">
      <pagination-controls
        (pageChange)="page = $event; get()"
        previousLabel=""
        nextLabel=""
        screenReaderPaginationLabel="Navegation"
        screenReaderPageLabel="Page"
        screenReaderCurrentLabel="Actual Page"
        class="pager"
      >
      </pagination-controls>
    </div>
  </div>
</div>