<div class="container">
  <h1>Edit Department</h1>
  <div class="row">
    <form [formGroup]="dataFG" class="row">
      <div class="input-field col s12">
        <input
          formControlName="name"
          id="name"
          type="text"
          class="validate"
        />
        <label for="name">Name</label>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s6 send">
      <a class="btn send cancel" routerLink="/parameters/list-department">Cancel</a>
    </div>
    <div class="col s6 send">
      <button class="btn send" (click)="editDepartment()">Edit Department</button>
    </div>
  </div>
</div>
