
<div class="title" *ngFor="let p of property">
    <h1 class="title">{{p.propertyType}}</h1>
</div>
<div class="ComponentePrin">
        <div class="imgs carousel-item" *ngFor="let file of fileNames">

            <img src="{{ logicUrl }}/GetFiles/1/{{ file.route }}"/>
            <img src="{{ logicUrl }}/GetFiles/2/{{ file.route }}"/>
            <img src="{{ logicUrl }}/GetFiles/3/{{ file.route }}"/>
        
        </div>
    <div class="Contenido2">
        <div class="component">
            <div class="Information" *ngFor="let p of property">
                <h1>General Information</h1>
                <p> + Selling Price         &nbsp; &nbsp; &nbsp;    {{p. salePrice}} </p>
                <p> + Rental Price       &nbsp; &nbsp; &nbsp;   {{p.rentalPrice}} </p>
                <p> + Management               &nbsp; &nbsp; &nbsp;   ALQUILER/VENTA</p>
                <p> + adderss                 &nbsp; &nbsp; &nbsp;       {{p.address}}, {{p.city?.name}}</p>
                <p> + Property Type {{ p.propertyType }}</p>
            </div>
        </div>
        <div class="component">
            <div class="Description" *ngFor="let p of property">
                <h1>Description</h1>
                <p>{{p.description}}
                </p>
            </div>
        </div>
    </div>

    <!--Buttones cancelar-->

    <div class="Botones">
        <a class="waves-effect waves-light btn-large"(click)="ngOnInit()">Rent</a>
        <a class="waves-effect waves-light btn-large" (click)="ngOnInit()">Sell</a>
    </div>
</div>
