
<div class="title">
    <h1 class="title">Casa del campo</h1>
</div>
<div class="ComponentePrin">
        <div class="imgs">
            <img src="assets\images\hash-error.jpg" alt="">
            <img src="assets\images\hash-error.jpg" alt="">
            <img src="assets\images\hash-error.jpg" alt="">
        </div>
    <div class="Contenido2">
        <div class="component">
            <div class="Information">
                <h1>General Information</h1>
                <p> + Precio Venta         &nbsp; &nbsp; &nbsp;    $ 430.000.000 </p>
                <p> + Precio Alquiler       &nbsp; &nbsp; &nbsp;   $ 430.000.000 </p>
                <p> + Gestión               &nbsp; &nbsp; &nbsp;   ALQUILER/VENTA</p>
                <p> + Ciudad                 &nbsp; &nbsp; &nbsp;       Manizales</p>
            </div>
        </div>
        <div class="component">
            <div class="Description">
                <h1>Description</h1>
                <p>Beautiful apartment with modern finishes, 
                    located in an excellent area to live, 
                    close to the main avenue, with easy access
                    to public
                    transportation.
                    It is situated 10 
                    minutes from Cable and the University zone, 
                    and 5 minutes from the city's nightlife district.
                </p>
            </div>
        </div>
    </div>

    <!--Buttones cancelar-->

    <div class="Botones">
        <a class="waves-effect waves-light btn-large">Rent</a>
        <a class="waves-effect waves-light btn-large">Sell</a>
    </div>
</div>
