#menu-toggle {
  top: 20px;
  left: 0;
  transition: transform 0.3s ease;
  position: sticky;
}

.btn-semi-circle {
  border-radius: 0 50% 50% 0;
}

.sidenav {
  display: block;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 0.3s ease;
}

#menu-toggle-icon {
  background-color: #3ddb8f;
  border-radius: 0px, 0px, 0px, 1px;
}

.expanded #menu-toggle {
  transform: translateX(200px);
}

.background {
  padding: 10px;
}

.user-img {
  background-image: "../../../../assets/images/user-background.jpg" !important;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.user-view a {
  display: flex;
  margin: auto;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #3ddb8f;
  justify-content: center;
}

.card span {
  display: flex;
  font-size: 15px;
  margin: auto;
}

#item {
  display: inline;
}
