<div class="container">
  <h1>Confirm Delete Adviser</h1>
  <div class="row">
    <div class="col s12">
      <p><strong>Document: </strong>{{ adviser.document }}</p>
    </div>
    <div class="col s12">
      <p>
        <strong>Name: </strong>{{ adviser.firstName }}
        {{ adviser.firstLastname }}
      </p>
    </div>
    <div class="col s12">
      <p><strong>Email: </strong>{{ adviser.email }}</p>
    </div>
    <div class="col s12">
      <p><strong>Phone: </strong>{{ adviser.phone }}</p>
    </div>
    <div class="row">
      <div class="col s6 send">
        <a class="btn send cancel" routerLink="/parameters/list-adviser"
          >Cancel</a
        >
      </div>
      <div class="col s6 send">
        <a class="btn send" (click)="deleteAdviser()">Confirm</a>
      </div>
    </div>
  </div>
</div>
