<div class="img-main">
  <img class="img-xl" src="../../../../assets/properties/1.jpg" />
</div>
<div class="img-secondary">
  <img class="img-n" src="../../../../assets/properties/1.jpg" />
  <img class="img-n" src="../../../../assets/properties/1.jpg" />
  <img class="img-n" src="../../../../assets/properties/1.jpg" />
</div>
<div class="separator"></div>
<div class="section-1">
  <p>
    Welcome to our real estate agency! We are a company committed to providing
    personalized and high-quality real estate solutions to meet the unique needs
    of each of our clients. Whether you are looking to buy or rent a property,
    our team of experts is here to guide you throughout the entire process and
    ensure that you achieve your goals. With a wide selection of properties and
    exceptional customer service, we can guarantee you an unparalleled real
    estate experience. Allow us to help you find your perfect home at the best
    possible price!
  </p>
  <img
    src="../../../../assets/properties/2.jpg"
    alt="sub-img-1"
    width="1920px"
    height="1080px"
  />
</div>
<div class="separator"></div>
<div class="section-1">
  <img src="../../../../assets/properties/2.jpg" alt="sub-img-1" />
  <p>
    Welcome to our real estate agency! We are a company committed to providing
    personalized and high-quality real estate solutions to meet the unique needs
    of each of our clients. Whether you are looking to buy or rent a property,
    our team of experts is here to guide you throughout the entire process and
    ensure that you achieve your goals. With a wide selection of properties and
    exceptional customer service, we can guarantee you an unparalleled real
    estate experience. Allow us to help you find your perfect home at the best
    possible price!
  </p>
</div>
