<div class="title">
    <h1>Register as:</h1>
</div>
<div class="container">
    <div class="component">
      <h2>Adviser</h2>
      <p> 
        When you register as an advisor, you will have access to tools and
         resources to help you grow and succeed in the real estate market.
          You will be able to list your properties on our platform, contact 
          clients interested in your properties, and receive advice and training
           from our team of real estate experts. You can improve
         your professional future by enhancing your experience in this field.
        </p>
      <button routerLink="">Request</button>
    </div>
    
    <div class="component">
      <h2>Client</h2>
      <p>
        When you register as a client, you will be able to create a personalized
         account to save your searches and receive alerts about properties that
          match your criteria. You will also be able to contact our advisors directly 
          for advice and assistance in the process of buying or renting a property. 
        Sign up now and start exploring our available properties and services.
      </p>
      <button routerLink="">Create</button>
    </div>
</div>
  
