<body ng-app="mainModule" ng-controller="mainController">
  <div id="login-page" class="row">
    <div id="login-card" class="col s12 z-depth-6 card-panel">
      <img
        src="../../../../assets/svg/password.svg"
        alt="login-icon"
        width="200px"
        height="200px"
      />
      <form class="login-form" [formGroup]="fGroup">
        <div class="row"></div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input
              id="oldPassword"
              type="password"
              formControlName="oldPassword"
            />
            <label for="oldPassword">Old Password</label>
            <div
              class="show-errors"
              *ngIf="
                getFormGroup['oldPassword'].errors &&
                (getFormGroup['oldPassword'].dirty ||
                  getFormGroup['oldPassword'].touched)
              "
            >
              <strong>This field is required.</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input
              id="newPassword"
              type="password"
              formControlName="newPassword"
            />
            <label for="newPassword">New Password</label>
            <div
              class="show-errors"
              *ngIf="
                getFormGroup['newPassword'].errors &&
                (getFormGroup['newPassword'].dirty ||
                  getFormGroup['newPassword'].touched)
              "
            >
              <strong>This field is required.</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input
              id="confirmNewPassword"
              type="password"
              formControlName="confirmNewPassword"
            />
            <label for="confirmNewPassword">Confirm New Password</label>
            <div
              class="show-errors"
              *ngIf="
                getFormGroup['confirmNewPassword'].errors &&
                (getFormGroup['confirmNewPassword'].dirty ||
                  getFormGroup['confirmNewPassword'].touched)
              "
            >
              <strong>This field is required.</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button
              id="login-btn"
              class="btn waves-effect waves-light col s12"
              (click)="changePassword()"
            >
              Change
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
