@media only screen and (min-width: 1000px) {
  html,
  body {
    height: 100%;
  }
  html {
    display: table;
    margin: auto;
  }

  #login-page {
    width: 500px;
  }

  #login-card {
    border: #3ddb8f solid 2px;
    border-radius: 20px;
  }

  #login-btn {
    background-color: #3ddb8f;
  }

  img {
    display: flex;
    margin: auto;
    filter: drop-shadow(1px 1px 3px #000000);
  }

  .links {
    color: #3ddb8f;
  }

  #recaptcha {
    display: flex;
    justify-content: center;
  }

  .show-errors {
    color: #ff0000;
  }
}
