.btn {
  background-color: #3ddb8f;
  height: 40px;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
}

.card {
  padding: 20px;
  border: #3ddb8f 2px solid;
  border-radius: 30px;
  text-align: center;
  margin: 30px;
}

.row {
  display: flex;
}

h2 {
  color: #3ddb8f;
  font-weight: bold;
}
