
<div class="container">
    <div  *ngIf="contract" class="component">
      <h2>Contract</h2>
        <p> 
            To complete the rental or purchase process, it is necessary
            to fill out the contract, which can be found in the lower section.
            You can download it, fill it out, and upload it again. 
            We appreciate your commitment and preference with our real estate agency.
        </p>
        <a class="waves-effect btn" style="background-color: #3ddb8f;" routerLink="assets\files\Contrato.pdf">Download</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="button"
            class="bwaves-effect btn"
            style="background-color: #3ddb8f;"
            value="upload"
            (click)="uploadFile()"
          />
    </div>
    
    <div  *ngIf="guarantor" class="component">
      <h2>Guarantor</h2>
      <p>
            For us, it is very important to safeguard our financial assets.
            Therefore, having a backup in the purchase or
            rental of a property is of great importance.
            That is why we invite you to upload the information
            of your financial co-debtor.
      </p>
      <a class="waves-effect btn" style="background-color: #3ddb8f;" routerLink="/parameters/create-guarantor">Guarnator</a>
    </div>
</div>