body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
.imgP {
    max-width: 100%;
    height: auto;
    margin-top: -50px;
}
  
