<!-- Filter View -->
<div class="container">
  <form action="" class=>
    <div class="row filter">
      <div class="input-field col s6">
        <select multiple id="managment">
          <option value="" disabled selected>Managment Type</option>
          <option
            *ngFor="let type of managmentTypes"
            [value]=type>{{type}}
          </option>
        </select>
        <label>Managment Type Select</label>
      </div>
      <div class="input-field col s6">
        <a class="filter-btn" (click)="getProperties()">FILTER</a>
      </div>
    </div>
  </form>
</div>

<!-- Properties View -->
<div class="container">
  <div class="row">
    <div class="col s3" *ngFor="let property of properties |
            paginate:
            { itemsPerPage:
              recordPerPage,
              currentPage: page,
              totalItems: total }" >
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <div *ngIf="property.rent" class="card rent-card">
            <p>Rent</p>
          </div>
          <div *ngIf="property.sell" class="card sell-card">
            <p>Sell</p>
          </div>
          <img src="{{ logicUrl }}/GetFiles/1/{{ getPhoto(property.id!) }}"
          (error)="handleImageError($event)"/>
        </div>
        <div class="card-content">
          <span class="card-title activator"
            >{{property.propertyType.name
            }}<i class="material-icons right">expand_less</i></span
          >
          <p><a>See details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{ property.propertyType.name
            }}<i class="material-icons right">close</i></span
          >
          <p>
            <strong>Ubication: <br /></strong> {{property.address}} <br />
            {{ property.city.name}}, {{property.city.department.name}} <br />
            <strong>Adviser: <br /></strong> {{property.adviser.firstName}} {{property.adviser.firstLastname}} <br />
            <strong>Description: <br /></strong> {{ property.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pager View -->
<div class="container">
  <div class="row">
    <div class="my-pagination">
      <pagination-controls
                      (pageChange)="page = $event; getProperties()"
                      previousLabel=""
                      nextLabel=""
                      screenReaderPaginationLabel="Navegation"
                      screenReaderPageLabel="Page"
                      screenReaderCurrentLabel="Actual Page"
                      class="pager">
          </pagination-controls>
    </div>
  </div>
</div>
