<body>
	<div class="row">
		<div class="col container">
			<div>
				<div class="ico">
					<img class="Iconos" src="assets\svg\Mission.svg" alt="">
					<h1> Mission</h1>
				</div>
				<p>
					We are a company that provides efficient and personalized real estate solutions
					to our clients, through a highly trained and committed team focused on customer
					satisfaction. We strive to exceed our clients' expectations by offering comprehensive, 
					high-quality services and friendly and approachable customer service at all times.
				</p>
			</div>
			
		</div>
		<div class="col ">
			<img class="foto" src="assets\images\icono-removebg-preview.png" alt="">
		</div>
		<div class="col container ">
			<div>
				<div class="ico">
					<img class="Iconos" src="assets\svg\vision.svg" alt="">
					<h1> Vision</h1>
				</div>
				<p>
					Our goal is to become the leading company in real estate solutions, recognized for our quality,
					efficiency, and customer service. We want to be a benchmark in the real estate sector for our 
					ability to adapt to our clients' needs and the excellence of our services. We aim to continue growing and
					expanding while always maintaining our values of ethics, professionalism, and social responsibility.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col container">
			<div>
				<div class="ico">
					<img class="Iconos" src="assets\svg\quality.svg" alt="">
					<h1> Quality</h1>
				</div>
				<p>
					In our company, quality is paramount. We strive to provide the highest quality 
					real estate solutions, working with the best materials and 
					employing innovative methods and techniques to ensure excellence in every project."
				</p>
			</div>
		</div>
		<div class="col container">
			<div>
				<div class="ico">
					<img class="Iconos" src="assets\svg\puntualidad.svg" alt="">
					<h1> Puntuality</h1>
				</div>
				<p>
					At all times, we are committed to meeting the deadlines agreed upon with
					our clients. We value punctuality and work efficiently
					to deliver projects on time without sacrificing the quality of our work.
				</p>
			</div>
		</div>
		<div class="col container">
			<div>
				<div class="ico">
					<img class="Iconos" src="assets\svg\innovation.svg" alt="">
					<h1> Innovation</h1>
				</div>
				<p>
					We stay at the forefront of the real estate industry, implementing 
					innovative solutions to offer our clients personalized and efficient 
					services. We strive to stay updated on technologies, trends, and construction 
					techniques to provide our clients with innovative and quality solutions.
				</p>
			</div>
		</div>
	</div>
</body>


