<div class="container">
  <div class="component-1">
    <h2>Real Estate Advisor Job Application.</h2>
    <p>
      The role of a real estate advisor is key to the industry and I know that
      you have the necessary skills to succeed in this position. Your knowledge
      of real estate, your passion for helping people find their dream home, and
      your ability to solve problems are all qualities that make you stand out
      as a candidate for this position.
      <br />
      <br />

      Please fill out the following form, this is the first step to securing an
      opportunity to work in our real estate agency and demonstrate your skills
      and talents.
    </p>
  </div>

  <div class="component-2">
    <h2>You Information</h2>
    <form [formGroup]="fGroup" class="col s12">
      <div class="row1">
        <div class="input-field center-align">
          <input
            formControlName="firstName"
            id="firstName"
            type="text"
            class="validate"
          />
          <label for="firstName">First Name</label>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['firstName'].errors &&
              (GetFormGroup['firstName'].dirty ||
                GetFormGroup['firstName'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="secondName"
            id="secondName"
            type="text"
            class="validate"
          />
          <label for="secondName">Second Name</label>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="firstLastname"
            id="firstLastName"
            type="text"
            class="validate"
          />
          <label for="firstLastname">First Lastname</label>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['firstLastname'].errors &&
              (GetFormGroup['firstLastname'].dirty ||
                GetFormGroup['firstLastname'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="secondLastname"
            id="secondLastname"
            type="text"
            class="validate"
          />
          <label for="secondLastName">Second Lastname</label>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="document"
            id="document"
            type="text"
            class="validate"
          />
          <label for="document">Document</label>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['document'].errors &&
              (GetFormGroup['document'].dirty ||
                GetFormGroup['document'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="email"
            id="email"
            type="email"
            class="validate"
          />
          <label for="email">Email</label>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['email'].errors &&
              (GetFormGroup['email'].dirty || GetFormGroup['email'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
        <div class="input-field center-align">
          <input
            formControlName="phone"
            id="phone"
            type="text"
            class="validate"
          />
          <label for="phone">Phone</label>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['phone'].errors &&
              (GetFormGroup['phone'].dirty || GetFormGroup['phone'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
        <div class="input-field center-align">
          <label class="message" for="message">Message *</label>
          <textarea name="Message" id="Message" cols="30" rows="30"></textarea>
          <div
            class="show-errors"
            *ngIf="
              GetFormGroup['message'].errors &&
              (GetFormGroup['message'].dirty || GetFormGroup['message'].touched)
            "
          >
            <strong>This field is required</strong>
          </div>
        </div>
      </div>
    </form>
    <div>
      <p>Aceptar Terminos y condiciones de privacidad.</p>
    </div>
    <button routerLink="" (click)="RegisterAdviser()">Send</button>
  </div>
</div>
