<div class="container">
  <div class="left-section">
    <img
      src="../../../assets/properties/3.jpg"
      alt="Imagen recortada aleatoria"
    />
  </div>
  <div class="right-section">
    <div class="left2-section">
      <form class="col s12">
        <div class="row">
          <h2 class="col s12">Contact</h2>
          <h2 class="s12">Let's work together</h2>
        </div>
        <div class="row">
          <p>
            If you wish to inquire further information about our services or
            have any doubts regarding them, do not hesitate to contact us. One
            of our advisors will get back to you as soon as possible.
          </p>
        </div>
        <div id="contact-line" class="row">
          <div>
            <img src="../../../assets/svg/whatsapp.svg" alt="whatsapp-icon" />
            <p>Contact us via WhatsApp at +57 3163566911</p>
          </div>
        </div>
        <div id="contact-line" class="row">
          <div>
            <img src="../../../assets/svg/email.svg" alt="email-icon" />
            <p>Email at Lina.Nieto22243@ucaldas.edu.co</p>
          </div>
        </div>
        <div id="location" class="row">
          <img src="../../../assets/svg/location-chip.svg" alt="" />
        </div>
        <div class="row">
          <p>
            Our company is located on the main street of 'La Villa' shopping
            mall, on the second floor of building 2. The exact address is 12th
            Street #34-56, Manizales, Colombia. <br />
            <br />
            We look forward to welcoming you to our modern facilities!
          </p>
        </div>
      </form>
    </div>
    <div class="right2-section">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <h2>Your Information</h2>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="full_name" type="text" class="validate" />
              <label for="full_name">Full Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="message_type" type="text" class="validate" />
              <label for="message_type">Message Type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phone" type="text" class="validate" />
              <label for="phone">Phone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Message</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <a
                [routerLink]="['/home']"
                id="send-btn"
                class="btn waves-effect waves-light col s12"
                >SEND</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
