<!-- Header -->
<nav class="colorPage">
  <div class="nav-wrapper">
    <a [routerLink]="['/home']" class="brand-logo"
      ><img
        class="icon"
        src="../../../../assets/svg/Akinmueble_icon_xl.svg"
        alt="Akinmueble-icon"
        width="250px"
        height="60px"
    /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="" class="link" [routerLink]="['/home']">Home</a></li>
      <li><a routerLink="" class="link">Services</a></li>
      <li><a routerLink="" class="link">Information</a></li>
      <li>
        <a routerLink="" class="link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li>
        <button
          routerLink=""
          class="sign-up"
          [routerLink]="['/security/register']"
        >
          Sign Up
        </button>
      </li>
      <li>
        <button [routerLink]="['/security/login']" class="log-in">
          Log In
        </button>
      </li>
    </ul>
  </div>
</nav>
