<!-- Header -->
<nav class="colorPage">
  <div class="nav-wrapper">
    <a [routerLink]="['/home']" class="brand-logo"
      ><img
        class="icon"
        src="../../../../assets/svg/Akinmueble_icon_xl.svg"
        alt="Akinmueble-icon"
        width="250px"
        height="60px"
    /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="link" [routerLink]="['/home']">Home</a></li>
      <li>
        <a class="link" routerLink="/parameters/list-property">Properties</a>
      </li>
      <li><a class="link">About Us</a></li>
      <li>
        <a class="link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li>
        <button
          *ngIf="!activeSession"
          class="sign-up"
          [routerLink]="['/register-switch']"
        >
          Sign Up
        </button>
      </li>
      <li>
        <button
          *ngIf="!activeSession"
          class="log-in"
          [routerLink]="['/security/login']"
        >
          Log In
        </button>
      </li>
      <li>
        <button
          *ngIf="activeSession"
          class="log-out"
          [routerLink]="['/security/log-out']"
        >
          Log Out
        </button>
      </li>
    </ul>
  </div>
</nav>
