.Container {
  display: flex;
}

.row1 {
  width: 40%;
  height: auto;
  margin-left: 250px;
}
img {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
}
.btn {
  border-radius: 20px;
  border: 3px solid #ffff;
  background-color: #3ddb8f;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.show-errors {
  color: red;
}

h1 {
  font-weight: bold;
  color: #3ddb8f;
}
