<div class="container">
  <div class="row header">
    <h1>Hello, {{ user.firstName }} {{ user.firstLastname }}!</h1>
  </div>
  <div class="row header">
    <h2>Actions</h2>
  </div>
  <div class="row">
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-adviser">Manage Advisers</a>
    </div>
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-city">Manage Cities</a>
    </div>
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-department"
        >Manage Departments</a
      >
    </div>
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-property"
        >Manage Properties</a
      >
    </div>
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-property-type"
        >Manage Property Types</a
      >
    </div>
    <div class="col s4">
      <a class="btn" routerLink="/parameters/list-request">Manage Requests</a>
    </div>
  </div>
  <div class="row header">
    <h2>Statistics</h2>
  </div>
  <div class="row">
    <div class="col s12">
      <h3>Properties</h3>
    </div>
    <div class="col s4">
      <p>Total Properties</p>
      <div class="card">
        <p>{{ properties }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Properties To Sell</p>
      <div class="card">
        <p>{{ propertiesToSell }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Properties To Rent</p>
      <div class="card">
        <p>{{ propertiesToRent }}</p>
      </div>
    </div>
    <div class="col s12">
      <h3>Requests</h3>
    </div>
    <div class="col s4">
      <p>Total Requests</p>
      <div class="card">
        <p>{{ requests }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Requests Pending</p>
      <div class="card">
        <p>{{ requestsPending }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Requests in Study</p>
      <div class="card">
        <p>{{ requestsStudy }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Requests Accepted</p>
      <div class="card">
        <p>{{ requestsAccepted }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Requests Rejected</p>
      <div class="card">
        <p>{{ requestsRejected }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Requests Accepted with Guarantor</p>
      <div class="card">
        <p>{{ requestsGuarantor }}</p>
      </div>
    </div>
    <div class="col s12">
      <h3>People</h3>
    </div>
    <div class="col s4">
      <p>Total People</p>
      <div class="card">
        <p>{{ advisers + clients }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Advisers</p>
      <div class="card">
        <p>{{ advisers }}</p>
      </div>
    </div>
    <div class="col s4">
      <p>Clients</p>
      <div class="card">
        <p>{{ clients }}</p>
      </div>
    </div>
  </div>
</div>
